$colorLoader              : #D32F2F;
$colorBG                  : #FFFFFF;
$colorTitle               : #252525;
$colorModeSwitchBG        : #252525;
$colorModeLightSwitchBG   : #ffffff;
$colorSubtitle            : #353535;
$colorParagraph           : #454545;
$colorLinkTitle           : #2196F3;
$colorScrollbarShadow     : rgba(0, 0, 0, 0.3);
$colorScrollbarBG         : darkgrey;
$colorScrollbarColor      : slategrey;
$colorSelection           : #3BB9FF;
$colorBorderProfile       : white;
$colorShadowProfile       : rgba(0, 0, 0, 0.2);
$colorShadowSection       : rgba(0, 0, 0, 0.4);
$colorBGSection           : #F0F0F0;
$colorBGSectionBar        : #FFFFFF;
$colorTextSectionBar      : #454545;